doctype html
html
  style.
    .button {
    width: 10%;
    font-size: 10px;
    text-align: center;
    margin: 20px;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #0EEBD9;
    border: 15px;
    border-radius: 15px;
    
    }
    .button:hover {background-color: #3e8e41}
    .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    }
    form {
    
    }
    input[type=text], input[type=password] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    }
    button {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 14px 20px;
    margin-left: 5% ;
    border: 20%;
    cursor: pointer;
    width: 10%;
    }
    button:hover {
    opacity: 0.8;
    }
    .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    }
    .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    }
    img.avatar {
    width: 40%;
    border-radius: 50%;
    }
    .container {
    padding: 16px;
    width : 75%;
    text-align:center;
    }
    span.psw {
    float: right;
    padding-top: 16px;
    }
    /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 300px) {
    span.psw {
    display: block;
    float: none;
    }
    .cancelbtn {
    width: 100%;
    }
    }
  body(background='https://cdn.allwallpaper.in/wallpapers/1920x1080/8810/blue-background-abstract-1920x1080-wallpaper.jpg')
    div(<h2='')
      button.button.button2
        a(href='http://localhost:3000/users/login/screen') Login
      form(action='http://localhost:3000/users/forgotpassword', method='post')

        .container
          label
          b Username : 
          input(type='text', text-align='center',placeholder='Enter Username', name='userName', required='')
          br
          button(type='submit',) Submit
          


      .container
        p Your password :#{password}
          